
#password{
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
    padding-top: 20px;
    padding-bottom: 2px;
    resize: none;
    overflow-x: scroll;
    overflow-y: hidden;
}

#passwordLengthTextArea{
    resize: none;
}

.copyright-text{
    font-size: 10px;
}

footer{
    border-top-color: rgb(0, 110, 255);
    border-top-style: solid;
    border-width: 5px;
}

#hide-button{
    font-size: 14px;
    width: 60px;
}

/* HIDE SCROLLBAR FOR CHROME */
#password::-webkit-scrollbar { width: 0 !important } 

/* HIDE SCROLLBAR FOR FIREFOX */
#password { overflow: -moz-scrollbars-none; }

/* HIDE SCROLLBAR FOR IE10 */
#password { -ms-overflow-style: none; }

.form-check-label{
    width: auto;
}
